page-login {
  .bg-img {
    background-image: url(../assets/imgs/fondo-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
    .login{
      margin-top: 0px;
    }

    .cover img{
      margin-top: 50px;
      width: 250px;
      margin-left: 50px;
    }
    .input{
      background-color: rgba(0,0,0,0 );
      border: none;
      color: yellow;
       color: #333;
       ::-webkit-input-placeholder { color: #666;}
    :-moz-placeholder { color: #666; }
    ::-moz-placeholder { color: #666; }
    :-ms-input-placeholder { color: #666; }
    }
    //cambiamos a transparente el ionic item
    .acceso ion-item{
      background-color: rgba(0,0,0,0 );
    }
    .otro{
      margin-top: 15px;
    }
}
