page-subcategorias {
  .productores{

  }
  .productores ion-item{

  }
  .productores ion-label{
    font-size: 0.7em;
  }
  //riego
  .riego{

  }
  .riego ion-item{

  }
  .riego ion-label{
    font-size: 0.7em;
  }
//drenaje
  .drenaje{

  }
  .drenaje ion-item{

  }
  .drenaje ion-label{
    font-size: 0.7em;
  }
  //minicomposteo
    .minicomposteo{

    }
    .minicomposteo ion-item{

    }
    .minicomposteo ion-label{
      font-size: 0.7em;
    }

    //control-bueneza
      .control-bueneza{

      }
      .control-bueneza ion-item{

      }
      .control-bueneza ion-label{
        font-size: 0.7em;
      }
      h4{
      color:  #0B610B;
      }
      .manejo{
        text-align: center;
      }
      ion-label{
        font-size: 0.7em;
      }
}
